*{
     box-sizing: border-box;
     padding: 0;
     margin: 0; 
     font-family: sans-serif;}

.clearfix::after{ 
     content: "";
     display: table;
     clear: both;  }

.margine{
     margin-right: 200px; 
     margin-left: 200px;     }

.sfondo_header{
     height: 65vh;
     background-image: url("./img/jumbo.png");
     background-size: cover;    }

.logo{ 
     float:left;   }

.login{
     background-color: white;
     color: black;
     border-radius: 18px;
     float: right;
     padding: 7px 15px;     }

nav>ul{
     list-style: none;
     float: left;
     text-align: center;
     width: 55%;  
     margin: auto;
}

nav li {
     display: inline-block;
     color: white; 
     padding-right: 30px;

}   

nav{
     font-size: 20px; 
         }

a{
     text-decoration: none;
     color: inherit;   }

.descrizione_header{
     margin: auto;
     padding-top: 225px;
     width: 40%;
     font-size: 125%;
     color: white;
     text-align: center;
     line-height: 35px; 
     vertical-align:middle;     }     

header h1{
     text-align: center;
     padding-bottom: 5%;
     font-size: 250%;        }

.bottoni div{
     display: inline-block;
     padding: 1rem 2rem ;
     border-radius: 50px;
     margin: 20px;    }

.download{
     background-color: white;
     color: black;}

.discord_web{
     background-color: hsl(206deg 9% 15%);
     color: white;}

#arrow_down{
     font-size: 2rem; }

/* Main */

/* Prima sezione  */
.prima_sezione{
     

}

.prima_immagine{
     width: 60%;
     float: left;
}  

.didascalia{
     
     float: left;
     text-align: left;
     width: 40%;
     font-size: 25px;
     color: #23272a;        }

.didascalia>p {
     font-size: 20px;
     padding-top: 30px;
     text-align: justify;      }

/* /Prima sezione  */


/* Seconda sezione  */
.seconda_sezione{
     background-color: #f6f6f6;
     width: 100%;
     
}
.wave_grigia{
     background-image: url("./img/wave_grigia.svg");
     background-color: white; 
     height: 20vh;
     background-size: cover;
     width: 100%;
}
.seconda_immagine{
     float: right;
     
}
.didascalia_due{
     text-align: left;
     width: 40%;
     font-size: 25px;
     color: #23272a; 
     padding-top: 20px;   
}

.didascalia_due>p {
     font-size: 20px;
     padding-top: 30px;
     text-align: justify;      } 

.wave_bianca{
     background-image: url("./img/wave_bianca.svg");
     background-color: #f6f6f6;
     height: 20vh;
     width: 100%;
     
     
}

/* /Seconda sezione  */

/* Terza sezione */

.terza_sezione{
     height: 500px;
     width: 100%; 
}

.terza_immagine{
     float: left;
}
/* Terza sezione */

/* Quarta sezione */

























