*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
.clearfix::after{ 
     content: "";
     display: table;
     clear: both;  }

.margine{
     position: absolute;
     z-index: 15;
     left: 15%;
}

.sfondo_header{
     height: 65vh;
     background-image: url("./img/jumbo.png");
     background-size: cover;
}

.logo{
     margin-right:250px;
     display: inline;
     float:left;
}

.login{
     background-color: white;
     color: black;
     margin-left:250px;
     border-radius: 20px;
     padding: 7px;     
}

nav>ul{
     list-style: none;
     float: left;
}

ul>li{
     display: inline-block;
     color: white;
     padding-right: 40px;

}

nav{
     padding-top: 30px;
     font-size: 20px;
}