*{
     box-sizing: border-box;
     padding: 0;
     margin: 0; 
     font-family: sans-serif;}

.clearfix::after{ 
     content: "";
     display: table;
     clear: both;  }

body{
     position: relative;} 

header{
     position: relative;
     padding-bottom: 225px;
}

.margine{
     position: absolute;
     left: 17.5%;
     right: 17.5%;      }

.sfondo_header{
     height: 65vh;
     background-image: url("./img/jumbo.png");
     background-size: cover;        }

.logo{ 
     display: inline;
     float:left;   }

.login{
     background-color: white;
     color: black;
     border-radius: 18px;
     position: absolute;
     left: 92.5%;
     bottom: 30%; 
     padding: 7px 15px;     }

nav>ul{
     list-style: none;
     float: left;
     position: absolute;
     left: 25%;
     right: 25%;
     text-align: center;
     width: 55%;     }

nav li {
     display: inline-block;
     color: white; 
     padding-right: 30px;}   

nav{
     font-size: 20px;
     top: 5%; 
     vertical-align: bottom;     }

a{
     text-decoration: none;
     color: inherit;   }

.descrizione_header{
     position: absolute;
     top: 25%;
     right:30%;
     width: 40%;
     font-size: 125%;
     color: white;
     text-align: center;
     line-height: 35px;      }     

header h1{
     text-align: center;
     padding-bottom: 5%;
     font-size: 250%;        }

.bottoni div{
     display: inline-block;
     padding: 1rem 2rem ;
     border-radius: 50px;
     margin: 20px;    }

.download{
     background-color: white;
     color: black;}

.discord_web{
     background-color: hsl(206deg 9% 15%);
     color: white;}

#arrow_down{
     font-size: 2rem; }


/* Main */

/* Prima sezione  */

.immagine_prima_sezione>img{
     float: left;
     position: relative;
     bottom: 35px;
     left: 0;        }  

.didascalia{
     position: relative;
     float: left;
     text-align: left;
     width: 30%;
     left: 180px;
     top: 0;
     font-size: 25px;
     color: #23272a;        }

.didascalia>p {
     font-size: 20px;
     padding-top: 30px;
     text-align: justify;      }

/* /Prima sezione  */


/* Seconda sezione  */




























/* .prova{
     background-image: url("./img/wave.svg");
     height: 10vh;
     background-blend-mode:multiply;
     background-color: red;
} */








